
@font-face {
  font-family: "Bricolage_Grotesque";
  src: url("/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
  font-family: "DM_Sans";
  src: url(/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

:root {
  
/* Neutral */

--Neutral-900: hsl(243, 96%, 9%);
--Neutral-800: hsl(243, 27%, 20%);
--Neutral-700: hsl(243, 23%, 24%);
--Neutral-600: hsl(243, 23%, 30%);
--Neutral-300: hsl(240, 6%, 70%);
--Neutral-200: hsl(250, 6%, 84%);
--Neutral-0: hsl(0, 0%, 100%);

/* Orange */

--Orange-500: hsl(28, 100%, 52%);

/* Blue */

--Blue-500: hsl(233, 67%, 56%);
--Blue-700: hsl(248, 70%, 36%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Neutral-900);
  color: var(--Neutral-0);
  font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
  width: 8.5rem;
  height: 4rem;
  margin-left: 1rem;
}

.units-container {
    display: flex;
    justify-content: space-around;
    width: 5.5rem;
    height: 2rem;
    background-color: var(--Neutral-700);
    align-items: center;
    font-size: 1rem;
    border-radius: 8px;
    padding: .4rem;
    margin: 1rem;
}

.icon-units {
  height: .5rem;
  width: .5rem;
}

.icon-dropdown {
  height: .5rem;
  width: .5rem;
}

.select-measures {
    display: none;
}


.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}