
@font-face {
  font-family: "Bricolage_Grotesque";
  src: url("/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
  font-family: "Bricolage_Grotesque";
  src: url("/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf");
}

@font-face {
  font-family: "DM_Sans";
  src: url("/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}

:root {
  
/* Neutral */

--Neutral-900: hsl(243, 96%, 9%);
--Neutral-800: hsl(243, 27%, 20%);
--Neutral-700: hsl(243, 23%, 24%);
--Neutral-600: hsl(243, 23%, 30%);
--Neutral-300: hsl(240, 6%, 70%);
--Neutral-200: hsl(250, 6%, 84%);
--Neutral-0: hsl(0, 0%, 100%);

/* Orange */

--Orange-500: hsl(28, 100%, 52%);

/* Blue */

--Blue-500: hsl(233, 67%, 56%);
--Blue-700: hsl(248, 70%, 36%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--Neutral-900);
  color: var(--Neutral-0);
  font-size: 18px;
  height: 100vh;
  margin: 0 1rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
  width: 8.5rem;
  height: 4rem;
  /* margin-left: 1rem; */
}

.units-container {
    display: flex;
    justify-content: space-around;
    width: 5.5rem;
    height: 2rem;
    background-color: var(--Neutral-700);
    align-items: center;
    font-size: .9rem;
    border-radius: 8px;
    padding: .4rem;
    /* margin: 1rem; */
    margin-top: 1rem;
    font-family: 'DM_Sans', 'Inter', 'Roboto', 'Verdana', Arial, sans-serif;
}

.icon-units {
  height: .85rem;
  width: .85rem;
}

.icon-dropdown {
  height: .6rem;
  width: .6rem;
}

.select-measures {
    display: none;
}

.title {
  text-align: center;
  font-family: 'Bricolage_Grotesque', 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 3.3rem;
  padding: 1.8rem 0;
  line-height: 3.84rem;
  font-weight: 100;
  margin-top: .4rem;
}

.form-search {
  /* margin: 1rem; */
}

.input-search {
  width: 100%;
  height: 3.5rem;
  border-radius: 12px;
  background-color: var(--Neutral-700);
  background-image: url(assets/images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 7% 50%;
  font-size: 1.3rem;
  /* padding-left: 3.5rem; */
  padding-left: 17%;
  color: var(--Neutral-0);
  /* color: white; */
  /* color: red; */
  /* font-weight: 500; */
  font-family: 'DM_Sans', 'Inter', 'Roboto', 'Verdana', Arial, sans-serif;
  border: none;
  /* font-weight: 800; */
  margin-top: 1.2rem;
}

.input-search::placeholder {
  color: var(--Neutral-0);
  font-weight: 500;
}

.button-search {
  width: 100%;
  background-color: var(--Blue-500);
  height: 3.5rem;
  border: none;
  border-radius: 10px;
  /* padding-top: 1rem; */
  margin-top: .8rem;
  font-size: 1.25rem;
  font-family: 'DM_Sans', 'Inter', 'Roboto', 'Verdana', Arial, sans-serif;
  font-weight: 500;
}

.main-info {
  background-color: var(--Blue-500);
  height: 10rem;
  margin-top: 2rem;
  border-radius: 20px;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}